.recipe-filter {
	color: var(--text-color-wht);
	width: 20em;
	display: flex;
	flex-direction: column;
	font-family: var(--text-font);
	font-size: 1.2em;
}

.button-filter {
	background-color: var(--bg-color-lightred);
	border: solid rgba(0, 0, 0, 0.3);
	height: 67.2px;
	width: 67.2px;
	img {
		height: 3em;
	}
}

.input-filter {
	display: flex;
	flex-direction: column;
	background-color: var(--bg-color-darkred);
	padding: 2em;
	gap: 1em;
}

.input {
	width: 4em;
	background-color: var(--text-color-wht);
	border: none;
	border-radius: 2px;
	margin-right: 4em;
}

.stick-filter {
	accent-color: var(--text-color-wht);
}

.input-form {
	display: flex;
}
